<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Example App</title>
</head>
<body>
    <header>
    </header>
    <div class="main-content w-[100%] h-[100vh] bg-gray-50 flex gap-4">
  <div class="sidebars w-[300px] h-full bg-amber-300"></div>
  <div class="content-container w-[70%] mt-4">
    {{{body}}}
  </div>
</div>
    <footer>
    </footer>
  </div>
</body>
</html>